.cart{
    width: 80%;
    height: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin: 0.7rem;
    padding: 3rem;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
}
.cartPrice{
    font-weight: bold;
}
.cartItemLeft{
    display: inline-block;
    text-align: left;
    width: 80%;
}
.cartItemRight{
    float: right;
    text-align: right;
}
.cartDelete{
    float: right;
    text-align: right;
    margin-left: 2rem;
}